@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
  }

  .container {
    position: relative;
  }
  
  .name {
    position: absolute;
    top: 50%;
    left: 50%;
  }

.name:hover{
    transform: scale(1.5);
}